<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="UnitTests">
            <include>
                <directory>./tests/Frbit/Tests/ValidatorLoader/</directory>
            </include>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src/Frbit</directory>
        </whitelist>
    </filter>
</phpunit>
